<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>smdecommerce.inicio.controle.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>smdecommerce.compras.controle.AdicionarProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>smdecommerce.compras.controle.RemoverProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.NovoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.NovaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirProdutoFotoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.modelo.ExibirProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoFotoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.modelo.MostrarProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.AtualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProdutoFotoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.modelo.UploadProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsuarioServlet</servlet-name>
        <servlet-class>smdecommerce.usuario.controle.DeleteUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.DeleteCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostraCategoriaServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.modelo.MostraCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.modelo.MostrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaProdutoServlet</servlet-name>
        <servlet-class>smdecommerce.produto.controle.DeletaProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoriasServlet</servlet-name>
        <servlet-class>smdecommerce.categoria.controle.ListCategoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>smdecommerce.inicio.controle.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioClientServlet</servlet-name>
        <servlet-class>smdecommerce.inicio.controle.InicioClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductClientServlet</servlet-name>
        <servlet-class>smdecommerce.inicio.controle.ProductClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoCompraPageServlet</servlet-name>
        <servlet-class>smdecommerce.inicio.controle.CarrinhoCompraPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoCompraPageClienteServlet</servlet-name>
        <servlet-class>smdecommerce.inicio.controle.CarrinhoCompraPageClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcluirVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ConcluirVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ListarVendasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirVendaServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ExcluirVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarComprasClienteServlet</servlet-name>
        <servlet-class>smdecommerce.venda.controle.ListarComprasClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/AdicionarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/RemoverProdutoCarrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <url-pattern>/NovoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <url-pattern>/NovaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/ListarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirProdutoFotoServlet</servlet-name>
        <url-pattern>/ExibirProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoFotoServlet</servlet-name>
        <url-pattern>/MostrarProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <url-pattern>/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProdutoFotoServlet</servlet-name>
        <url-pattern>/UploadProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsuarioServlet</servlet-name>
        <url-pattern>/DeleteUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoriaServlet</servlet-name>
        <url-pattern>/DeleteCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/AtualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostraCategoriaServlet</servlet-name>
        <url-pattern>/MostraCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <url-pattern>/MostrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaProdutoServlet</servlet-name>
        <url-pattern>/DeletaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoriasServlet</servlet-name>
        <url-pattern>/ListCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioClientServlet</servlet-name>
        <url-pattern>/InicioClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductClientServlet</servlet-name>
        <url-pattern>/ProductClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoCompraPageServlet</servlet-name>
        <url-pattern>/CarrinhoCompraPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoCompraPageClienteServlet</servlet-name>
        <url-pattern>/CarrinhoCompraPageCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcluirVendaServlet</servlet-name>
        <url-pattern>/ConcluirVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasServlet</servlet-name>
        <url-pattern>/ListarVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirVendaServlet</servlet-name>
        <url-pattern>/ExcluirVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarComprasClienteServlet</servlet-name>
        <url-pattern>/ListarComprasCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>
